%h2 Will my project be displayed on the site after I submit it?
%p
  No - we have a process of screening, revising and approving all seedstarter applications. 
  Once you've submitted your project, allow us a few working days to review your submission, after which point we will contact you to discuss your application further.
%h2 What projects are suitable for Seedstarter?
%p We're interested in research projects from all fields of science including: Biology, Biotechnology, Nanotechnology, Astronomy, Technology, Engineering, Social Science, Medicine, Agriculture and many more. Basically and field of scientific research.
%p The best projects are those that are in pursuit of a cause that resonates with are large community. It should have the ability to capture the public’s interest and imagination, have a capturing video, and can deliver exciting rewards for backers.
% Who can submit projects on Seedstarter?
%p We are looking for projects from researchers with affiliations at universities, nonprofits, or other research institutions. This includes tenured faculty, postdocs, and graduate students. We also accept proposals from industry bodies.
%h2 What should I offer as rewards for backers?
  Seed Starter is all about getting the community involved and interested in science. The best rewards help your backers feel like there are being brought along on the research journey with you and are part of your team. Examples of good rewards include: being acknowledged in publications, naming rights to new discoveries, a personal talk or dinner with the research team, opportunities to be involved in the research (field trips), souvenirs from the field, large photographs/artist renditions of the subject matter, or quirky gifts related to the topic (toys, books etc). Be creative and add a personal touch!
%h2 I have more questions. Who can I ask?
%p If you have any other questions, you can email us #{mail_to t('site.email.contact'), "here"}