h3 What projects are suitable for Seedstarter?
p We're interested in research projects from all fields of science including: Biology, Biotechnology, Nanotechnology, Astronomy, Technology, Engineering, Social Science, Medicine, Agriculture and many more. Basically and field of scientific research.
The best projects are those that in pursuit of a cause that resonates with are large community. It should have the ability to capture the public’s interest and imagination, have a capturing video, and can deliver exciting rewards for backers.
h3 What criteria must I meet to lodge a campaign application?
p We are looking for projects from researchers with affiliations at universities, nonprofits, or other research institutions. This includes tenured faculty, postdocs, and graduate students. We also accept proposals from industry bodies.
h3 What should I offer as rewards for backers?
Seed Starter is all about getting the community involved and interested in science. The best rewards help your backers feel like there are being brought along on the research journey with you and are part of your team. Examples of good rewards include: being acknowledged in publications, naming rights to new discoveries, a personal talk or dinner with the research team, opportunities to be involved in the research (field trips), souvenirs from the field, large photographs/artist renditions of the subject matter, or quirky gifts related to the topic (toys, books etc). Be creative and add a personal touch!
h3 I have more questions. Who can I ask?
p You can email us at #{mail_to t('site.email.contact'), "projects@seedstarter.com.au.", :target => :_blank}.